.data-table {
  &__filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
  }

  .laptop-table {
    display: block;
    .table-column {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;

      &__cell {
        width: 100%;
        border: 1px solid currentColor;
        text-align: center;
      }

      &__cell:not(:last-child) {
        border-right: transparent;
      }

      .column-cell {
        &__name {
          font-weight: 600;
          padding: 12px 0;
        }
      }
    }

    .table-row {
      .row-cell {
        padding: 12px 0;
        border-top: 1px solid currentColor;
      }
    }

    @include before(md) {
      display: none;
    }
  }
}

.mobile-table {
  display: none;
  @include before(md) {
    display: block;
  }
  &__item {
    border: 1px solid currentColor;
    padding: 12px;
    margin-bottom: 24px;
  }

  .mobile-item {
    &__row:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .item-row {
    &__name {
      font-weight: 600;
    }
  }
}
